.App {
  display:flex;
  justify-content: center;
  background: #bf00ff;
  flex-direction: column;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-family: georgia;
  font-style: bold;
}

.header {
  background: rgb(206, 58, 58);
  height: 105px;
  width: 100%;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
}

.content {
  display: flex;
  justify-content: center;
  background: rgb(174, 180, 68);
  flex-direction: row;
}

.ideas {
  background: rgb(230, 168, 53);
  height: 700px;
  width: 500px;
  margin: 5px;
 
}

.list {
  background: rgb(223, 223, 73);
  height: 700px;
  width: 500px;
  margin: 5px;
}

.todo {
  background: rgb(125, 170, 56);
  height: 700px;
  width: 500px;
  margin: 5px;
}