.App {
  display:flex;
  justify-content: center;
  background: rgb(166, 157, 204);
  flex-direction: column;
}

.header {
  background: yellow;
  height: 105px;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.content {
  display: flex;
  justify-content: center;
  background: black;
  flex-direction: row;
}

.ideas {
  background: white;
  height: 700px;
  width: 415px;
  margin: 5px;
 
}

.list {
  background: gray;
  height: 700px;
  width: 415px;
  margin: 5px;
}

.todo {
  background: rgb(187, 105, 105);
  height: 700px;
  width: 415px;
  margin: 5px;
}